.footer-container {
    /* width: 100%; */
    background: #8E0E00;  
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
    background: linear-gradient(to right, #1F1C18, #8E0E00); 
    margin-top: 10px;
}
.footer-container .navbar-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding: 30px;
}
.footer-container .navbar-link {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}
.footer-container .navbar-link.active {
    text-decoration: underline;
}
.footer-container p {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

