.hero-sidebar-manual-container {
    background: #8E0E00;  
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
    background: linear-gradient(to right, #1F1C18, #8E0E00); 
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 100%;
    transition: all 0.6s linear;
    z-index: 20;
}


.hero-sidebar-manual-container.manual-show-sidebar {
    /* right: 0px; */
    opacity: 1;
    left: 0px;
}
.hero-sidebar-manual-container .logo-section {
    filter: invert(1);
    /* margin-left: 130px; */
}
.hero-sidebar-manual-container .logo-section img {
 width: 38px;
}
.hero-sidebar-manual-container .hero-sidebar-close-button {
    justify-self: flex-end;
}
.hero-sidebar-manual-container .hero-sidebar-close-button img{
    width: 25px;
    
}
.hero-sidebar-manual-container .hero-sidebar-manual-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hero-sidebar-manual-container .hero-sidebar-manual-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 87vh;
    overflow-y: auto;
    margin-top: 20px;
    /* margin-left: 120px; */

}


.hero-sidebar-manual-container .nav-link {
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px ;
    margin-left: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
}


.hero-sidebar-manual-container .nav-link.active {
    background: white;
    color: black;
}

