.hero-manual-container {
    margin-top: 10px;
}

.hero-manual-container .hero-manual-header.sticky-nav {
    position: fixed;
    background: none;
    top: 0;
    left: 0;
    margin-left: 40px;
    z-index: 19;
    transition: all 0.3s linear;
}
.hero-manual-container .hero-manual-hamburger img {
    width: 30px;
    
}
.hero-manual-container .hero-manual-header {
    display: flex;
    background: #8E0E00;  
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
    background: linear-gradient(to right, #1F1C18, #8E0E00); 
    align-items: center;
}
.hero-manual-container .hero-manual-hamburger-text p {
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    
}
.hero-manual-container .hero-manual-links-main {
    display: none;
}

     .hero-manual-image img {
        width: 330px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        /* padding: 10px; */
        box-shadow: 0 0 10px black;
        border-radius: 10px;
        
}
@media screen and (min-width:992px) {
    .hero-manual-container {
        /* background: gray; */
        
    }

    .hero-manual-container .hero-manual-header.sticky-nav {
       display: none;
    }
    
    .hero-manual-container .hero-manual-hamburger {
        display: none;
    }
    .hero-manual-container .hero-manual-links-main {
        display: flex;
    }
    .hero-manual-container .hero-manual-links {
        position: fixed;
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        margin-top: 10px;
        margin-left: 10px;
        height: 85vh;
        overflow: scroll;
    }


    .hero-manual-container .nav-link {
        color: black;
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        padding: 5px 10px;
        border-radius: 4px;
    }
    .hero-manual-container .nav-link.active {
        background: black;
        color: white;
    }
    .hero-manual-container .hero-manual-parts {
        display: grid;
        grid-template-columns: 1fr 3fr;
       

    }
    .hero-manual-content {
    }
    .hero-manual-content .hero-manual-image img {
        text-align: center;
        width: 50%;
    }
}