.hero-interview-content {
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 100px;
}
.hero-interview-content  .menu-content h2 {
    color: white;
    font-size: 23px;
    text-align: center;
    background: #8E0E00;  
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
    background: linear-gradient(to right, #1F1C18, #8E0E00); 
   /* background:  #8E0E00;   */
    /* background: black; */
    border-radius: 3px;
    box-shadow: 0 0 10px black;
    margin-bottom: 20px;
    margin-top: -80px;
    padding: 5px;
    letter-spacing: 1px;
}
.hero-interview-content  .menu-content h3 {
    color: white;
    width: 75%;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
    background: #8E0E00;  
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
    background: linear-gradient(to right, #1F1C18, #8E0E00); 
    /* background: black; */
    border-radius: 3px;
    box-shadow: 0 0 10px black;
    letter-spacing: 1px;
}

.hero-interview-content .menu-content h4 {
    /* background: black; */
    background: #8E0E00;  
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
    background: linear-gradient(to right, #1F1C18, #8E0E00); 
    color: white;
    box-shadow: 0 0 5px black;
    padding: 5px;
    margin-top: 10px;
    letter-spacing: 1px;
}
.hero-interview-content  .menu-content h5 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    /* color: #8E0E00; */
    color: red;
}
.hero-interview-content  .menu-content p {
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 20px;
    letter-spacing: 0.25px;
    /* color: #8E0E00; */
}
.hero-interview-content  .arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #8E0E00;
}
.hero-interview-content .orderedlist {
    margin-left: 10px;
    margin-right: 10px;
    margin-top:10px;
    /* color: #8E0E00; */
    
}
.hero-interview-content .orderedlist li {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;    
    font-size: 17px;
}
.hero-interview-content .hero-content-image img {
    display: block;
    width: 330px;
    margin-right: auto;
    margin-left: auto;
}

.hero-interview-content .hero-content-image1 img {
    display: block;
    /* width: 200px; */
    margin-right: auto;
    margin-left: auto;
}

table {
    text-align: center;
}

td, th {
    border:  1px solid #1F1C18;
    text-align: left;
    padding: 8px;
    color: #8E0E00;
}
th{
    text-align: center;
    color: #8E0E00;
    font-weight: bold;
}
.hero-sidebar-manual-container .hero-sidebar-interview-links {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer-container-interview
 {
    /* width: 100%; */
    background: #8E0E00;  
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
    background: linear-gradient(to right, #1F1C18, #8E0E00); 
    margin-top: 10px;
}
.footer-container-interview   .navbar-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 10px;
}
.footer-container-interview .navbar-link {
    color: white;
    font-weight: bold;
    padding: 5px 35px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.footer-container-interview   .navbar-link.active {
    text-decoration: underline;
}
.footer-container-interview
p {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    letter-spacing: 2px;
}

.hero-interview-content .qa-content-image {
margin-top: -80px;
}

.hero-interview-content .qa-content-image img {
    width: 320px;

}

@media screen and (min-width:992px) {
    .hero-interview-content {
        width: 1050px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    
    .hero-manual-content .menu-content h4 {
        width: 30%;
        background: #8E0E00;  
        background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
        background: linear-gradient(to right, #1F1C18, #8E0E00); 
        /* background: black; */
        color: white;
        box-shadow: 0 0 5px black;
        padding: 5px;
    
    }
    .hero-manual-content .hero-content-image img {
        display: block;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
 
    .footer-container-interview   .navbar-links {
        flex-direction: row;
    }

    .hero-manual-container .hero-interview-links{
        width: 100%;
        height: 50px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;       
        flex-direction: row;
        column-gap: 30px;
        background: #8E0E00;  
        background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
        background: linear-gradient(to right, #1F1C18, #8E0E00); 
        
    }
    .hero-manual-container .nav-link {
        display: flex;
        color: white;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 1px;
        font-size: 18px;
    }
    .hero-manual-container .nav-link.active {
        background: white;
        color: #000;
    }
    .hero-manual-container .hero-manual-hamburger-text {
        display: none;
    }
    .hero-interview-content .qa-content-image {
        margin-left: 90px;
    }
    .hero-interview-content .qa-content-image img {
        width: 200px;
        display: inline;
        column-gap: 130px;
    }

}