.hero-sidebar-manual-container {
    background: #8E0E00;  
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
    background: linear-gradient(to right, #1F1C18, #8E0E00); 
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 100%;
    transition: all 0.4s linear;
    z-index: 21;
}


.hero-sidebar-manual-container.manual-show-sidebar {
    right: 0;
    opacity: 1;
}
.hero-sidebar-manual-container .hero-sidebar-qa-header {
    display: flex;
    justify-content: space-between;
}
.hero-sidebar-manual-container .hero-sidebar-qa-links {
    display: flex;
    margin-top: 30px;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    row-gap: 40px;
}
.hero-qa-image {
    /* width: 1250px; */
    margin-left: 40px;
    margin-right: auto;

}
.hero-qa-image img{
    /* width: 500px; */
    display: inline;
    width: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

}
.footer-qa-container {
    background: #8E0E00;  
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
    background: linear-gradient(to right, #1F1C18, #8E0E00); 
}
.footer-qa-container .navbar-links {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
}
.footer-qa-container .navbar-link {
    color: white;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer-qa-container .copyright-text p{
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media screen and (min-width:992px) {
    .hero-qa-links {
        background: #8E0E00;  
        background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
        background: linear-gradient(to right, #1F1C18, #8E0E00); 
            
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
        list-style: none;
        padding: 5px;
        margin-top: 5px;
        box-shadow: 0 0 10px black;
    }
    .hero-manual-hamburger-text{
        display: none;
    }

    .hero-qa-links .nav-link {
        color: white;
        letter-spacing: 1px;
        font-size: 17px;
        padding: 5px 10px;
    }
    .hero-qa-links .nav-link.active,
    .hero-qa-links .nav-link:hover {
        background: white;
        color: #000;
    }
    .footer-qa-container {
        width: 100%;
        min-height: 100px;
        background: #8E0E00;  
        background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
        background: linear-gradient(to right, #1F1C18, #8E0E00); 
        margin-top: 30px;
    }
    .hero-qa-image {
        width: 1250px;
        margin-left: 260px;
        margin-top: 20px;

    }
    .hero-qa-image img{
        /* width: 500px; */
        display: inline;
        width: 300px;
        height: 200px;
        margin-left: auto;
        margin-right: 50px;
        margin-top: 50px;
        transition: (1.5);        

    }
    .hero-qa-image img:hover {
        transform:  scale(1.25);
    }
    .footer-qa-container .navbar-links {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        column-gap: 100px;
        padding: 5px 10px;
    }
    .footer-qa-container .navbar-link {
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 17px;
    }
    .footer-qa-container .copyright-text {
        color: white;
        letter-spacing: 1px;
        margin-top: 20px;
        font-weight: bold;
        font-size: 13px;
        text-align: center;
    }
}